WebServiceGateway.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WebServiceGateway" 
  targetNamespace="http://localhost:8001/gateway" 
  xmlns="http://localhost:8001/gateway" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
soap:encodingStyle="http://www.w3.org/2003/05/soap-encoding"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <wsdl:message name="getSmgwRequest">
    <wsdl:part name="id" type="xs:string"/>
    <wsdl:part name="mandant" type="xs:string"/>
  </wsdl:message>
  <wsdl:message name="addSmgwRequest">
    <wsdl:part name="id" type="xs:string"/>
    <wsdl:part name="hersteller" type="xs:string"/>
    <wsdl:part name="mandant" type="xs:string"/>
  </wsdl:message>
  <wsdl:message name="deleteSmgwRequest">
    <wsdl:part name="id" type="xs:string"/>
    <wsdl:part name="mandant" type="xs:string"/>
  </wsdl:message>
  <wsdl:message name="getSmgwResponse">
    <wsdl:part name="id" type="xs:string"/>
    <wsdl:part name="hersteller" type="xs:string"/>
  </wsdl:message>
  <wsdl:message name="addSmgwResponse"> 
    <wsdl:part name="status" type="xs:string"/>
  </wsdl:message>
  <wsdl:message name="deleteSmgwResponse"> 
    <wsdl:part name="status" type="xs:string"/>
  </wsdl:message>

  <wsdl:portType name="gatewayP">
    <wsdl:operation name="getSmgw">
      <wsdl:input message="getSmgwRequest"/>
      <wsdl:output message="getSmgwResponse"/>
    </wsdl:operation>
    <wsdl:operation name="addSmgw">
      <wsdl:input message="addSmgwRequest"/>
      <wsdl:output message="addSmgwResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteSmgw">
      <wsdl:input message="deleteSmgwRequest"/>
      <wsdl:output message="deleteSmgwResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="Gateways" type="gatewayP">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSmgw">
      <soap:operation soapAction="getSmgw"/>
      <wsdl:input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></wsdl:input>
      <wsdl:output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSmgw">
      <soap:operation soapAction="addSmgw"/>
      <wsdl:input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></wsdl:input>
      <wsdl:output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSmgw">
      <soap:operation soapAction="deleteSmgw"/>
      <wsdl:input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></wsdl:input>
      <wsdl:output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="ws">
    <wsdl:port binding="Gateways" name="gateway">
      <soap:address location="http://localhost:8001/WebServiceGateway"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
