wsdl/identado_contratos_fornecedor.xml

<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
    xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" 
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
    xmlns:n1="urn:sap-com:document:sap:rfc:functions">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN_BN_ZBR_RFC_CONTRATOS_FORNECEDOR_I">
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true" 
            xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"/>
        <saptrnbnd:OptimizedXMLTransfer uri="http://www.w3.org/2004/08/soap/features/http-optimization" wsp:Optional="true" 
            xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"/>
        <wsp:ExactlyOne xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" 
            xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" 
            xmlns:wsa="http://www.w3.org/2005/08/addressing" 
            xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" 
            xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" 
            xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:All>
                <sp:TransportBinding>
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <sp:HttpBasicAuthentication/>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:TripleDesRsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF_IF_ZBR_RFC_CONTRATOS_FORNECEDOR_I">
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
            <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration wsp:Optional="true" 
            xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"/>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP_IF_OP_ZbrRfcContratosFornecedorI">
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
            <xsd:simpleType name="char220">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="220"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" 
            xmlns:n0="urn:sap-com:document:sap:rfc:functions">
            <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
            <xsd:complexType name="BapivendorNumbers">
                <xsd:sequence>
                    <xsd:element name="VendorNo" type="n0:char10"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZbrmMsgRfcPortalPreco">
                <xsd:sequence>
                    <xsd:element name="Tipo" type="n0:char1"/>
                    <xsd:element name="Codigo" type="xsd:int"/>
                    <xsd:element name="Mensagem" type="n0:char220"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfBapivendorNumbers">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:BapivendorNumbers" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfZbrmMsgRfcPortalPreco">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZbrmMsgRfcPortalPreco" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="soapTesteRequire">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="tipo" type="n0:char1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="soapTesteRequireResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Tipo" type="n0:char1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ZbrRfcContratosFornecedorI">
        <wsdl:part name="parameters" element="tns:ZbrRfcContratosFornecedorI"/>
    </wsdl:message>
    <wsdl:message name="ZbrRfcContratosFornecedorIResponse">
        <wsdl:part name="parameters" element="tns:ZbrRfcContratosFornecedorIResponse"/>
    </wsdl:message>
    <wsdl:portType name="ZBR_RFC_CONTRATOS_FORNECEDOR_I">
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF_IF_ZBR_RFC_CONTRATOS_FORNECEDOR_I"/>
        </wsp:Policy>
        <wsdl:operation name="ZbrRfcContratosFornecedorI">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_IF_OP_ZbrRfcContratosFornecedorI"/>
            </wsp:Policy>
            <wsdl:input message="tns:ZbrRfcContratosFornecedorI"/>
            <wsdl:output message="tns:ZbrRfcContratosFornecedorIResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZBR_RFC_CONTRATOS_FORNECEDOR_I" type="tns:ZBR_RFC_CONTRATOS_FORNECEDOR_I">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN_BN_ZBR_RFC_CONTRATOS_FORNECEDOR_I"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZbrRfcContratosFornecedorI">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZBR_RFC_CONTRATOS_FORNECEDOR_I">
        <wsdl:port name="ZBR_RFC_CONTRATOS_FORNECEDOR_I" binding="tns:ZBR_RFC_CONTRATOS_FORNECEDOR_I">
            <soap:address location="http://localhost/wsdl?wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>